@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-lalezar: var(--font-lalezar);
}

html {
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
}
